body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://www.guimaconseco.com.br/images/footer-img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

#quiz-container {
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
}

#quiz-form-container,
#quiz-questions-container {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

/* Updated color to dark green */
#quiz-questions-container {
    background-color: rgba(0, 100, 0, 0.9);
}

#cadastro-form,
#quiz-questions-container {
    max-width: 600px;
    margin: auto;
}

/* Updated color to dark green */
h2 {
    color: #006400;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

input {
    width: calc(100% - 16px);
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 12px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

#timer {
    font-size: 18px;
    margin-top: 10px;
}

@media screen and (max-width: 600px) {
    input {
        width: 100%;
    }

    button {
        width: 100%;
    }
}
