body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://www.guimaconseco.com.br/images/footer-img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


#quiz-container {
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
    color: white; /* Adiciona cor de texto branca para melhor legibilidade no fundo escuro */
}

#quiz-form-container,
#quiz-questions-container {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgba(37, 150, 10; /* Adiciona uma cor de fundo sem obscurecer muito a imagem de fundo */
}

#cadastro-form,
#quiz-questions-container {
    max-width: 400px;
    margin: auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#timer {
    font-size: 18px;
    margin-top: 10px;
    color: white; /* Adiciona cor de texto branca para melhor legibilidade no fundo escuro */
}
