body {
    font-family: Arial, sans-serif;
}

#quiz-container {
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
}

#quiz-form-container,
#quiz-questions-container {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

#cadastro-form,
#quiz-questions-container {
    max-width: 400px;
    margin: auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#timer {
    font-size: 18px;
    margin-top: 10px;
}
